@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.pr-13 {
    padding-right: 13px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.showmore1 {
    background-color: #18205C;
    width: 100%;
    height: 70px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    cursor: pointer;

}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.Events {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    color: #2C49FE;
}

.Free {
    color: #01C8FF;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 49px;

}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.logo {
    width: 30%;
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}



.justify-between {
    justify-content: space-between;
}

.gap-19 {
    gap: 19px;
}

.gap-20 {
    gap: 20px;
}

.background {
    background-color: #F1F2F5;
    width: 100%;
    border-radius: 0px 20px 20px 20px;
    padding: 14px 20px 20px 20px;
}

.username-pera {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #606162;
}

.Username {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
}

.align-item {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.nav-links {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    position: relative;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: #2C49FE;
    transform: translate(50%);
    transition: all 0.3s linear;
}

.logo-end {
    width: 20%;
}

.nav-links:hover::after {
    left: -50%;
    width: 100%;
}

.logout-btn {
    width: 118px;
    height: 46px;
    border-radius: 23px;
    opacity: 0px;
    color: white;
    background-color: #2C49FE;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

.footer-pera {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: "Poppins", sans-serif;
    color: white;
    max-width: 346px;
}

.gap-15 {
    gap: 15px;

}


.bg-black {
    background-color: #000000;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    bottom: 15px;
    right: 2px;
}

.number1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #666666;
}

.more1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.mt-75 {
    margin-top: 75px;
}

.mt-35 {
    margin-top: 35px;
}

.logout-btn:hover {
    background-color: white;
    color: #2C49FE;
    border: 1px solid #2C49FE;
}

.parent-box1 {
    background-color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 12px;
    right: 8px;
}

.parent-box {
    background-color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 12px;
    right: 10px;
}


.section-3-card {
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.three-line {

    height: 3px;
    width: 35px;
    background-color: #000000;
}

.flex-direction-c {
    flex-direction: column;
}

.gap-5 {
    gap: 8px;
}

.cursor-pointer {
    cursor: pointer;
}

.gallery {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;

}

.pb-15 {
    padding-bottom: 15px;
}

.home-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;

}

.mb-60 {
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.gmail {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 25px;
    padding-top: 25px;

}

.JhoneDoe {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: #000000;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.pl-13 {
    padding-right: 13px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.sec-1-longtex {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.home-text-1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 11px;

}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #5E5F66;
}

.augue-tex {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    padding-bottom: 5px;
    color: #5E5F66;
}

.more {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #5E5F66;
}

.augue-pera {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    padding-bottom: 5px;
}

.username {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #000000;
}

.post {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.cardbox {
    border-radius: 20px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    padding: 13px;

}

.mt-30 {
    margin-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pt24 {
    padding-top: 24px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pl-23 {
    padding-left: 23px;
}

.menulist {
    position: absolute;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0%;
    right: -100%;
    z-index: 10;
}

.username-p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: black;
    margin-top: 40px;
}

.pt-8 {
    padding-top: 8px;
}

.box-border {
    box-shadow: 0px 8px 35px 0px #0000001A;
    padding: 8px;
    border-radius: 30px;
}

.remove {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #666666;
    cursor: pointer;
}

.dustbin {
    cursor: pointer;
    margin-left: 22px;
}

.long-tex {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
    padding-top: 20px;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.ten {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.gap-30 {
    gap: 30px;
}

.box-11 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #EAEDFF;
}

.mt-20 {
    margin-top: 20px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.menuicon {
    display: flex;
    position: relative;
    z-index: 15;
}

.showlist {
    right: 0%;
}

.menu {
    position: fixed;
    top: 0%;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 8px 35px 0px #0000000D;
    width: 100%;


}

.line-1 {
    width: 166px;
    height: 8px;
    background-color: #2C49FE;
}

.blanck-line {
    border: 1px solid #CCCCCC;
    margin-bottom: 26px;
    margin-top: 23px;
}

.pt-15 {
    padding-top: 15px;
}

.line-2 {
    width: 30px;
    height: 8px;
    background-color: #01C8FF;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: white;
    padding-bottom: 11px;
}

.footer-links {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: white;
}


.comment {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    width: 100%;

}

.post-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    background-color: #2C49FE;
    cursor: pointer;
    width: 208px;
    height: 56px;
    border-radius: 36px;
    border: none;
    outline: none;
}

.w-50 {
    width: 50%;
}

.outer-box {
    border-radius: 35px;
    border: 1px solid #9CA1BE;
}

.h-100 {
    height: 100%;
}

.p-8 {
    padding: 8px;
}







@media (min-width:576px) {
    .Events {
        font-size: 36px;
    }

    .Free {
        font-size: 36px;
    }

    .logo {
        width: 30%;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .username-pera {
        font-size: 16px;
    }

    .box-border {
        padding: 35px;
    }

}


@media (min-width:768px) {
    .menulist {
        position: relative;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        display: flex;
        height: fit-content;
        width: fit-content;
        top: 0%;
        right: 0%;
        z-index: 10;
    }

    .menuicon {
        display: none;
    }


    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .gallery {
        margin-top: 0;
    }

    .col-md-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .w-md-50 {
        width: 50%;
    }

    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }


}

@media (min-width:992px) {
    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .gap-30 {
        gap: 30px;
    }


}